.header {
  height: 8vh;
  background: radial-gradient(circle, #5151e5 0%, #130cb7 100%);
  position: sticky;
  top: 0;
  z-index: 30;
}
.Container-header {
  max-width: 85%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.nav {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
  gap: 25px;
}

.nav > a {
  text-decoration-line: none;
  color: white;
  font-family: Raleway;
  font-weight: bold;
}

.nav > a:hover {
  border-bottom: rgb(253, 253, 253) 3px solid;
}

.Container-header button {
  display: none;
  cursor: pointer;
  border: none;
  background: rgba(255, 255, 255, 0.507);
  border-radius: 12px;
  height: 24px;
  width: 80px;
  font-size: 18px;
  font-weight: bold;
  justify-content: center;
  color: rgb(219, 202, 202);
}

@media screen and (max-width: 700px) {
  .Container-header {
    max-width: 100%;
  }

  .nav {
    justify-content: space-around;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  .Container-header button {
    display: block;
    cursor: pointer;
  }

  .HomeContainer__NavBar__Rigth {
    position: fixed;
    top: 0;
    left: 0;
    height: 97%;
    width: 100%;
    margin-top: 7.5%;
    align-items: center;
    justify-content: center;
    background: #000dffe5;
    transition: 1s;
    transform: translate(100%);
    z-index: 100;
    opacity: 0;
    gap: 10px;
  }
  .HomeContainer__NavBar__Rigth.show {
    transform: none;
    opacity: 1;
    transition-property: opacity, transform, -webkit-transform;
    transition: 2s;
  }
}
