.wraper {
  position: relative;
  white-space: nowrap;
  display: inline-block;
  -webkit-animation: slidein 60s linear infinite;
  animation: slidein 60s linear infinite;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.Skllis-Container img {
  width: 30%;
  object-fit: contain;
  transition: transform 0.5s ease;
  border-radius: 12px;
}

.Skllis-Container img:hover {
  transform: scale(0.9);
}

.Container-title-Skllis {
  text-align-last: center;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}

.Container-info {
  display: flex;
  justify-content: space-around;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}

.Container-main {
  width: 80%;
  display: grid;
  justify-items: center;
  box-shadow: 1px 3px 0px 20px rgb(0 0 0 / 50%);
  border-radius: 15px;
  background-color: #1a1a1a;
  padding: 20px;
  margin: 0 auto;

  margin: auto;
  background-color: #1a1a1a;
}

.Container-left {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 50px;
  padding: 12px;
  justify-items: center;
}

.Icons {
  color: white;
  font-size: xxx-large;
  justify-items: center;
  width: 120px;
}

.h4 {
  background-color: #6b73ff;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  opacity: 0;
  text-align: center;
  transform: translateY(1px);
  transition: transform 0.4s ease, opacity 0.4s ease;
  width: 100px;
  transition: 0.6s ease-in-out;
}

.h4:hover {
  opacity: 1;
  transform: rotate3d(9px);
  transform: scale(1.2);
}

.Icons:hover + .h4 {
  opacity: 1;
  transform: rotate3d(9px);
  transform: scale(1.2);
}

.Icons2:hover + .h4 {
  opacity: 1;
  transform: rotate3d(9px);
  transform: scale(1.2);
}
