.header {
  width: 100vw;
  height: 9vh;
  z-index: 100;
  position: fixed;
  background: rgb(0, 0, 70);
  background: radial-gradient(circle, #5151e5 0%, #130cb7 100%);
}

.Container-header {
  max-width: 85%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.nav ul {
  display: flex;
  list-style: none;
  margin: 10px;
}

.nav ul li {
  list-style: none;
  margin: 0px 20px;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.6rem;
  text-decoration: none;
}

.nav ul li a {
  text-decoration: none;
  color: white;
}

.nav ul li a:hover {
  border-bottom: rgb(253, 253, 253) 3px solid;
}
