.header {
  height: 8vh;
  background: radial-gradient(circle, #5151e5 0%, #130cb7 100%);
  position: sticky;
  top: 0;
  z-index: 30;
}
.Container-header {
  max-width: 85%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.nav {
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav > a {
  text-decoration-line: none;
  color: white;
  font-family: Raleway;
  font-weight: bold;
}

.nav > a:hover {
  border-bottom: rgb(253, 253, 253) 3px solid;
}
