.container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: royalblue;
  margin: auto;
  margin-top: 12px;
  border-radius: 10px;
}

.Container-footer-whatsapp {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Container-footer-whatsapp h4 {
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

#sobremi {
  transition: all 0.5s;
}

.Container-footer-whatsapp button {
  color: black;
  font-weight: bold;
  height: 41px;
  width: 140px;
  background: white;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.Container-footer-red {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 100%;
  padding: 10px;
}

.Container-footer-red img {
  width: 80%;
  height: 50%;
}

.Container-pie {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background: radial-gradient(circle, #5151e5 0%, #130cb7 100%);
}
