.Container-title-Studies {
  font-weight: bold;
  font-size: 1.7rem;
  color: white;
  display: flex;
  justify-content: center;
  width: 30%;
}

.Studies-Container {
  columns: 3 220px;
  column-gap: 30px;
  width: 85%;
  margin: 0 auto;
}

.Studies-Container img {
  max-width: 100%;
  margin-bottom: 0.5rem;
  display: block;
  object-fit: contain;
  border-radius: 10px;
}

.Studies-Container img:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 700px) {
  .Studies-Container {
    columns: 1;
  }

  .Container-title-Studies {
    width: 100%;
  }
}
