.modal-project {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40%, auto));
  row-gap: 1.5rem;
  justify-items: center;
  width: 100%;
  height: 410px;
}
.container-modal {
  height: 55vh;
  display: flex;
  flex-direction: column;
  width: 40vw;
}

.titulo-modal {
  font-size: 1em;
  padding: 10px;
  font-weight: bold;
  color: #000;
  justify-content: center;
  align-items: center;
  display: flex;
}

.modal-imgs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.modal-imgs img {
  width: 95%;
  height: auto;
  border-radius: 12px;
}

.modal-text {
  font-size: 0.9rem;
  font-weight: bold;
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 375px) {
  .modal-project {
    width: 88%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container-modal {
    width: 90%;
  }

  .titulo-modal {
    display: flex;
    align-self: center;
    color: white;
    margin-top: 48%;
    width: 300px;
  }

  .modal-text {
    width: 88%;
    font-size: 10px;
  }

  .modal-imgs img {
    width: 100%;
  }
}
