.container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: royalblue;
  margin: auto;
  margin-top: 12px;
  border-radius: 10px;
}

.Container-footer-whatsapp {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Container-footer-whatsapp h4 {
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.Container-footer-whatsapp button {
  color: white;
  height: 41px;
  width: 150px;
  background: #6b73ff;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  text-decoration: none;
  align-items: center;
}

.Container-footer-red {
  display: flex;
  justify-content: space-evenly;
  width: 25%;
  height: 100%;
  padding: 10px;
  object-fit: contain;
}

.IconsF {
  color: white;
  width: 5vmin;
  height: 5vmin;
  object-fit: cover;
}

.Container-pie {
  width: 100%;
  height: 23px;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background: radial-gradient(circle, #5151e5 0%, #130cb7 100%);
}

@media screen and (max-width: 700px) {
  .container {
    width: 90%;
  }

  .IconsF {
    width: 9.5vw;
    height: 7vh;
  }
}
